@import './../../../../../../styles/variables';

.purpel {
  color: $purple;
}

.blue {
  color: $blue;
}

::ng-deep {
  app-item-frame-stats {
    .cold {
      .value,
      .value.changed {
        color: $aqua;

        .text {
          color: $aqua !important;
        }
      }
    }

    .lightning {
      .value,
      .value.changed {
        color: $yellow;

        .text {
          color: $yellow !important;
        }
      }
    }

    .chaos {
      .value,
      .value.changed {
        color: $pink;

        .text {
          color: $pink !important;
        }
      }
    }

    .fire {
      .value,
      .value.changed {
        color: $red;

        .text {
          color: $red !important;
        }
      }
    }
  }
}


.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  justify-content: center;
}

.tag {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  color: #a38b63;
  background-color: black;
  font-weight: normal;
  font-size: 13px;
}